{{#> layout }}

    {{#*inline "content"}}
        <img class='bronky-suckaaa' src={{imageSrc}}>
        <span class='credits'>built by
            <a class='link' target='_blank' href='https://github.com/wswoodruff/bronky-charles'>@wswoodruff</a>
            on
            <a class='link' target='_blank' href='https://hapipal.com'>@hapipal</a>
            · art by
            <a class='link' target='_blank' href='https://github.com/devinivy'>@devinivy</a>
            · also
            <a class='link' target='_blank' href='https://bigroomstudios.com'>@brs</a>
            is cool
            · loL ur ip {{yourIp}}
        </span>
        <script>
            const timeout = Math.random() * 10000;

            setTimeout(() => {

                window.location = '{{redirectLink}}';
            }, timeout);

            setTimeout(() => {

                console.log('Bronky\'s got ur ip!', '{{yourRealIp}}');
            }, 500);
        </script>
    {{/inline}}

{{/layout}}
