{{#> layout }}

    {{#*inline "content"}}
        <script type="text/javascript" src="/public/purify.js"></script>
        <div id='chatContainer'>
            <div id='chat' />
        </div>
        <span class='credits'>built by
            <a class='link' target='_blank' href='https://github.com/wswoodruff/bronky-charles'>@wswoodruff</a>
            on
            <a class='link' target='_blank' href='https://hapipal.com'>@hapipal</a>
            · art by
            <a class='link' target='_blank' href='https://github.com/devinivy'>@devinivy</a>
            · also
            <a class='link' target='_blank' href='https://bigroomstudios.com'>@brs</a>
            is cool
            · loL ur ip {{yourIp}}
        </span>
        <script>
            const timeout = Math.random() * 10000 + 10000;

            setTimeout(() => {

                // Instead of automatically redirecting, we'll just add a link to meet his brother
                // window.location = '{{redirectLink}}';
            }, timeout);

            setTimeout(() => {

                console.log('Ohhh Nooooo Bronky\'s got ur ip suckaaa!', '{{yourRealIp}}');
            }, 500);
        </script>
    {{/inline}}
{{/layout}}
